name: Deploy static content to Pages

on:
  push:
    branches: ['main']
    paths: ['src/**']

  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: 'pages'
  cancel-in-progress: true

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install

      - name: Create environment variables
        run: |
          touch .env
          echo VITE_API_KEY=${{ secrets.VITE_API_KEY }} >> .env
          echo VITE_AUTHDOMAIN=${{ secrets.VITE_AUTHDOMAIN }} >> .env
          echo VITE_PROJECT_ID=${{ secrets.VITE_PROJECT_ID }} >> .env
          echo VITE_STORAGE_BUCKET=${{ secrets.VITE_STORAGE_BUCKET }} >> .env
          echo VITE_MESSAGING_SENDER_ID=${{ secrets.VITE_MESSAGING_SENDER_ID }} >> .env
          echo VITE_APP_ID=${{ secrets.VITE_APP_ID }} >> .env
          echo VITE_MEASUREMENT_ID=${{ secrets.VITE_MEASUREMENT_ID }} >> .env
          echo VITE_PUBLIC_URL=${{ secrets.VITE_PUBLIC_URL }} >> .env
          echo VITE_GOOGLE_ANALYTICS_TRACKING_ID=${{ secrets.VITE_GOOGLE_ANALYTICS_TRACKING_ID }} >> .env

      - name: Build
        run: yarn build

      - name: Setup Pages
        uses: actions/configure-pages@v3

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: './dist'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
